[submodule "foundry-template"]
	path = foundry-template
	url = https://github.com/PaulRBerg/foundry-template
[submodule "blockchain/foundry/lib/forge-std"]
	path = blockchain/foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
